#Header {
    background-color: rgb(101, 0, 170);
    display:flex;
}
* {
    margin: 0;
}
#center { 
    display: flex;
    margin: 50px;
    height: 450px;  
}

#LogoImage {
    height: 50px;
    width: 50px;
    margin-right: auto;
    margin-left: 15px;
    background-color: rgb(101, 0, 170);
}
.text { 
    text-align: center;
    font-family: 'arial';
}
.NavButton {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    background-color: rgb(101, 0, 170);
}
h1 {
    color:rgb(255, 236, 236);
}
body { 
    background-color: rgb(62, 0, 105);
    background-size: cover;
    background-attachment: fixed;
    
}
#footer {
    margin-top: 100%;
    border: 1.5px black solid;
    background-color: white;
    height:95px;
    width: 100%;
}