#Header {
    background-color: rgb(43, 43, 43);
    display:flex;
    position:fixed;
    width:100%;

}
* {
    margin: 0;
}
.LoginMenu{
    transform: translateX(110%);
    height:300px;
    width:200px;
    right: 5px;
    background-color:rgb(26, 26, 26);
    border-radius:5px;
    position: absolute;
    justify-content: center;
    transition: 1s;
}
.LoginMenu-View{
    transform: translateX(0);
}
#center { 
    display: flex;
    height: 450px;  
}
.LoginInput{
    margin-top: 30px;
    margin-left: 5px;
}
.LogoImage {
    height: 50px;
    width: 50px;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 5px;
    background-color: rgb(58, 58, 58);
    border-radius: 35px;
}
#LoginButton{
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(32, 32, 32);
    margin-top: 45px;
    width: 190px;
    border-radius: 5px;
    border: 0px;
}
#RegistrationLoginChange{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.LoginSelectButton{
    border: 0;
 border-bottom: 1px solid rgb(58, 58, 58);
 border-right: 1px solid rgb(58, 58, 58);
}
.RegistrationSelectButton{
    border: 0;
    border-bottom: 1px solid rgb(58, 58, 58);
    border-left: 1px solid rgb(58, 58, 58);
}
.RegistrationChosen{
    border-bottom:0;
    border-left:0;
}
.LoginChosen{
    border-bottom: 0;
    border-left: 0;
}
.ChangeButton{
    margin-top: 5px;
    background-color: rgb(26, 26, 26);
}
.InputField{
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    width: 180px;
    height: 30px;
    border: 1px solid rgb(32, 32, 32);
    color:aliceblue;
}
.text { 
    text-align: center;
    font-family: 'arial';
}
#NavButton {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    background-color: rgb(41, 41, 41);
}
h1 {
    font-size: 20px;
    color: rgb(82, 82, 82);
    font-family: 'arial';
}
body { 
    background-color: rgb(49, 49, 49);
    background-size: cover;
    background-attachment: fixed;
    
}
#footer {
    margin-top: 100%;
    border: 1.5px black solid;
    background-color: white;
    height:95px;
    width: 100%;
}